.navContain {
  display: flex;
  padding: 10px;
}
.page {
  padding: 10px;
}
.heroContain {
  display: grid;
  place-content: center;
  padding: 0 10%;
}
.heroContain h1 {
  margin: auto;
  font-size: 60px;
}
.heroContain h3 {
  font-size: 25px;
  font-weight: 100;
  line-height: 1.8;
}

.divideLine {
  margin: 0 12%;
}
.novateContain {
  display: grid;
  grid-template-columns: 0.2fr 0.1fr 0.5fr 0.1fr 0.3fr;
  place-content: center;
}
.novateContain h1 {
  font-size: 40px;
  margin: auto;
}
